<div class="list_description">
<h1>首頁清單</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<div class="section_list">
  <div class="container-fluid container_list">
   <%= flash[:notice] %>
    <div class="row row_list">
      <% @foods.each do |food| %>
        <a href="/foods/<%=food.id %>" class="text-decoration-none">
          <div class="col-lg-3 col-md-8 col-sm-10 col-10 col_list col_img">
            <div>
              <%= image_tag food.avatar.variant(resize: '300x300'), :class => "img_list" if food.avatar.attached?%>
            </div>
              <img src="<%=food.picture%>" alt="" class="img_list" style="margin-bottom:30px">
            <div class="col_info">
              <h3><%= food.title %></h3>
              <p><del>原始價：<%= food.origin_price %></del></p>
              <p>救援價：<%= food.discount_price %></p>
              <p>數量：<%= food.quantity %></p>
              <p>地區：<%= food.address %></p>  <!-- #到時候在修正成只顯示區域 -->
              <p>可領取時間：<%= I18n.l(food.pickup_time, formats: :default) %> ～ <%=I18n.l(food.endup_time, formats: :default) %></p>
            </div>

            <div class="col_btn">
              <%= link_to "MORE+", food_path(food.id), class:'btn btn-dark btn_more btn_list' %>
              <% if food.user == current_user %>
                <%= link_to "編輯", edit_food_path(food.id),class:'btn btn-warning  btn_list' %>
                <%= link_to "刪除", food_path(food.id), method:'delete', class:'btn btn-danger  btn_list', data: {confirm: '確定要刪除嗎？'} %> 
              <% end %>
            </div>
          </div>
        </a>
      <% end %>   
    </div>
  </div>
<div>