<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/">剩食看板</a>  <!-- 只是方便自己作業 -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/foods">食物救援 <span class="sr-only">(current)</span></a>  <!-- 只是方便自己作業 -->
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "會員中心", '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "個人資料", user_registration_path, class: 'nav-link' %>
        </li>
      <%end%>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "登出", destroy_user_session_path, class: 'nav-link', method: 'delete' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "註冊", new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "登入", new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
    