<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://breakwaste.site/">盛食找餐</a>  <!-- 只是方便自己作業 -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://breakwaste.site/foods">食物救援 <span class="sr-only">(current)</span></a>  <!-- 只是方便自己作業 -->
      </li>
    </ul>
    
    <ul class="navbar-nav">
    
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "個人資料", user_registration_path, class: 'nav-link' %>
        </li>
        <li>
          <%= link_to "PO文紀錄", history_foods_path, class: 'nav-link' %>
        </li>
        <% if current_user.cart %>
          <li>
            <%= link_to "購物車(#{current_cart.foods.count})", cart_path(:foods => current_cart.foods), class: 'nav-link' if current_cart.present?%>
          </li>
            <li class="nav-item">
            <%= link_to "我的訂單", orders_path, class: 'nav-link' %>
          </li>
        <%end%>  
        <li class="nav-item">
          <%= link_to "登出", destroy_user_session_path, class: 'nav-link', method: 'delete', data: {confirm: '確定要登出嗎？'} %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "註冊", new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "登入", new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
    