<nav class="navbar navbar-expand-lg navbar-light bg-warning">

  <a class="navbar-brand" href="https://breakwaste.site/">盛食找餐 Breakwaste</a>  <!-- 只是方便自己作業 https://breakwaste.site/ -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
    
        <a class="nav-link" href="https://breakwaste.site/">食物救援 <span class="sr-only">(current)</span></a>  <!-- 只是方便自己作業 https://breakwaste.site/foods-->
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "新增食物", new_food_path, class:'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to "我的小樹", my_tree_path(current_user.id), class: 'nav-link' %>
        </li>

        <% if current_user.cart %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             會員中心
            </a>
            <div class="dropdown-menu p-3" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Rescuer訂單", orders_path, class: 'nav-link dropdown-item', style: 'font-size:20px' %>
              <%= link_to "Giver訂單", giver_orders_path, class: 'nav-link dropdown-item', style: 'font-size:20px' %>
              <%= link_to "歷史紀錄", history_foods_path, class: 'nav-link dropdown-item', style: 'font-size:20px' %>
              <%= link_to "個人資料", user_registration_path, class: 'nav-link dropdown-item', style: 'font-size:20px' %>
            </div>
          </li>
        <% end %>

        <% if current_user.cart %>
          <li>
            <%= link_to "購物車(#{current_cart.foods.count})", cart_path("food_id" => current_cart.foods.ids), class: 'nav-link' if current_cart.present?%>
          </li> 
          <li class="nav-item">
            <%= link_to "登出", destroy_user_session_path, class: 'nav-link', method: 'delete', data: {confirm: '確定要登出嗎？'} %>
          </li>
              <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "註冊", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "登入", new_user_session_path, class: 'nav-link' %>
          </li>
      <% end %>
    </ul>

  </div>
</nav>
    