<div class="section_search">
  <div class="container-fluid px-0 container_search">
  
    <div class="row no-gutters align-items-center mx-0">
      <div class="col col-12 col_header">
        <div class="title">
          <h1>盛食找餐</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>

    <div class="row no-gutters row_search">
      <div class="col col-lg-12 col-md-12 col-sm-12 col-12 col_search">
          <%= form_tag(foods_path, method: :get) do %>
            <%= text_field_tag :search, params[:search], placeholder: "食物名稱、食物描述、地點...", class: 'search' %>
          <%= submit_tag "搜尋", name: nil, class: 'btn btn-dark' %>
      <% end %>
      </div>
    </div>
    <div class="row no-gutters row_search_btn">
      <div class="col col-lg-12 col-md-12 col-sm-12 col-12 col_search_btn">
          <%= link_to "新增po文", new_food_path, class:'btn btn-secondary' %>
      </div>
    </div>

    <div class="row no-gutters row_about">
      <div class="col col-lg-6 col-md-6 col-sm-8 col-8 col_search_btn">
          <h3>About Us</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, nemo rem! Est delectus dolore dolorum quibusdam beatae cupiditate, iste doloremque.</p>
      </div>
    </div>

      <div class="row no-gutters row_fourimage">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-12 col_fourimage">
          <%= image_tag "food.jpg" %>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-12 col_fourimage">
          <div class="row no-gutters row_fourimage">
            <div class="col col-lg-6 col-md-6 col-sm-6 col-6 col_fourimage">
              <%= image_tag "fruit.jpg" %>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-6 col-6 col_fourimage">
              <%= image_tag "burger.jpg" %>
            </div>
            <div class="row no-gutters row_fourimage">
              <div class="col col-lg-6 col-md-6 col-sm-6 col-6 col_fourimage">
                <%= image_tag "coffee.jpg" %>
              </div>
              <div class="col col-lg-6 col-md-6 col-sm-6 col-6 col_fourimage">
                <%= image_tag "dim.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters row_foot">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
          <small>路公易濕戰隊</small>
        </div>
      </div>

      <a href="#" class="search_btn"><i class="fas fa-search"></i></a>

     

      <hr>
      <%= link_to "新增po文", new_food_path, class:'btn btn-primary new_btn' %>
    </div>
    
  </div>
</div>

