<style>
.section_profile_show{
  height: 100%;
  background-color: #fff;
  padding-top: 1px;
}
.row_profile_show{
  background-color: #fff;
  padding: 20px 15px;
}
@media screen and (min-width: 768px){
  .row_profile_show{
  padding: 40px 0 100px 0;
  }
}
.col_profile_show > .input-group{
  padding: 15px 15% 0 15%;
}
@media screen and (min-width: 768px){
  .col_profile_show > .input-group{
  padding: 0 22%;
  }
}
.col_profile_show > .input-group > p {
  font-size: 20px;
}
.orders_index_header > img{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.col_profile_show{
  background-color: #eee;
  border-radius: 10px;
  padding: 5%;
}
</style>
<div class="section_profile_show">

  <div class="col-12 profile_title text-center m-auto">
    <div class="profile_logo text-center m-auto">
      <%= image_tag "icons/user-check.svg" %> 
      <h1>個人檔案</h1>
    </div>   
  </div>

  <div class="container-fluid container_profile_show p-0">
    <div class="row no-gutters row_profile_show justify-content-center">

      <div class="col-lg-5 col-md-8 col_profile_show">
        <div class="input-group">
          <p>名字：<%= @user.name %></p>
        </div>
        <div class="input-group">
          <p>電話：<%= @user.phone %></p>
        </div>
        <div class="input-group">
          <p>地址：<%= @user.address %></p>
        </div>
        <div class="input-group">
          <p>信箱：<%= @user.email %></p>
        </div>
        <div class="col_profile_btn">
          <div class="input-group mt-4">
            <%= link_to "編輯檔案", edit_user_registration_path, class: 'btn btn-info btn-lg ml-auto mr-3' %>
            <%= link_to "回上一頁", foods_path, class:'btn btn-dark btn-lg mr-auto' %>
          </div>
        </div>
      </div>


    </div>
  </div>  
</div>