<style>
.row_profile_show{
  background-color: #fff;
  padding: 70px 0 150px 0;
}
.section_profile_show{
  height: 110%;
  background-color: #fff;
  padding-top: 10px;
}
.orders_index_header > img{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}
</style>
<div class="section_profile_show">

  <div class="col-12 profile_title text-center m-auto">
    <div class="profile_logo text-center m-auto">
      <%= image_tag "icons/user-check.svg" %> 
      <h3>P R O F I L E</h3>
      <h1>會員資料</h1>
    </div>   
  </div>

  <div class="container-fluid container_profile_show p-0">
    <div class="row no-gutters row_profile_show justify-content-center">

      <div class="col col-lg-5 col-md-8 col_profile_show px-5">
        <div class="input-group mb-3">
          <p>名字：<%= @user.name %></p>
        </div>
        <div class="input-group mb-3">
          <p>電話：<%= @user.phone %></p>
        </div>
        <div class="input-group mb-3">
          <p>地址：<%= @user.address %></p>
        </div>
        <div class="input-group mb-3">
          <p>信箱：<%= @user.email %></p>
        </div>
        <div class="input-group mt-3">
          <%= link_to "編輯資料", edit_user_registration_path, class: 'btn btn-info btn-lg mr-3' %>
          <%= link_to "回上一頁", foods_path, class:'btn btn-dark btn-lg' %>
        </div>
      </div>


    </div>
  </div>  
</div>