<div class="container-fluid container_cart p-0">
  <div class="row no-gutters row_show_cart justify-content-center">
    <div class="col col-lg-8 col-md-10 col-sm-10 col-10 col_show_title p-5">
      <h1>我的購物車</h1>
    </div>
    <div class="col col-lg-8 col-md-10 col-ms-10 col-10 col_show_mycart px-5">
      <% @cart_foods.each do |cart_food| %>
        <ul class="my-cart">
          <li>
            <div class="carts_show_price">
              <p><%= cart_food.food.title%></p>
              <p>提貨時間 <%= I18n.l(cart_food.food.pickup_time, formats: :default) %> ～    <%= I18n.l(cart_food.food.pickup_time, formats: :default) %>
              </p>
              <span>＄<%= cart_food.food.discount_price%></span>
              <del>原價<%= cart_food.food.origin_price%></del>
              數量：<%= cart_food.quantity%>
            </div>
            <%= link_to "刪除", cart_path(cart_food.food.id), method: 'delete', class: 'btn btn-danger show_del_btn', style: 'float: right', data:{confirm: '確定要刪除嗎？'} %>
          </li>
        </ul>
      <%end%> 
    </div>
    <div class="col col-lg-8 col-md-10 col-sm-10 col-10 text-center col_show_btn">
      <%if @current_cart%>
        <%= link_to "清空購物車", destroy_cart_cart_path, method: 'delete', class: 'btn btn-danger', data:{confirm: '確定要清空嗎？'} %>
      <%end%>
      <%= link_to "結帳", checkout_cart_path, class:'btn btn-success' %>
    </div>
  </div>  
</div>
<%= render 'shared/frontend/footer' %>


