<% flash.each do |key, value| %>
  <div class="alert alert-warning <%= key %>">
    <%= value %>
  </div>
<% end %>

<!--- 與orders-show頁面同CSS --->
<div class="section_giver_order">
  <div class="container-fluid container_orders_show justify-content-center p-0">
    <div class="row no-gutters row_orders_show justify-content-center">

      <div class="ccol-11 col_orders_show order_show_title text-center mb-4">
        <h1>親愛的賣家，有您的訂單喔！</h1>
        <h1>訂單編號為 <span><%= @giver_orders.slug.upcase%></span></h1>
      </div>

      <div class="col-12 col_orders_show order_show_item p-4 my-2">
        <% @giver_orders.order_items.each do |order_item| %>
          <p><span><%= order_item.food.title%></span><i class="fa fa-shopping-basket"></i> x <%= order_item.quantity%> 件</p>
          <p><i class="fa fa-user-circle-o user"></i>聯絡資訊 <%= Order.find_by(rescuer_id: order_item.rescuer_id).recipient%>
          <i class="fa fa-phone ml-3 mr-1"></i><%= Order.find_by(rescuer_id: order_item.rescuer_id).phone%></p>
          <p><i class="fa fa-clock-o time"></i>提取時間 <%= I18n.l(order_item.food.pickup_time, formats: :default) %> ～ <%= order_item.food.endup_time.strftime("%H:%M") %></p>
          <i class="fa fa-commenting-o msg"></i>備註 <%= @giver_orders.note%>
          <div class="subtotal">小計<span><%= order_item.total_price %></span>元</div>
        <% end %>  
      </div>

      <div class="col-11 order_show_count text-center">
        <p>總金額 <span class="show_checkout_btn"><%= @total_price %></span> 元<p>
        <div class="order_show_btn mt-4">
        <%= link_to "全部訂單", giver_orders_path, class:'btn btn-warning btn-lg' %>
        </div>
      </div>
    </div>
  </div>
</div>

