<% flash.each do |key, value| %>
    <div class="alert alert-warning <%= key %>">
      <%= value %>
    </div>
<% end %>

<div class="section_orders_giver">
  <div class="row no-gutters row_orders_giver justify-content-center">
    <div class="col-10">
      <div class="orders_giver_header text-center pb-2">
        <h1>賣家訂單</h1>
      </div>
      <table class='table rwd-table table-hover table-lg'>
        <thead class="bg-dark text-light p-2">
          <tr class="text-nowrap text-center">
            <th>訂單編號</th>
            <th>買家名稱</th>
            <th>訂單建立</th>
            <th>付款狀態</th>
            <th>詳細</th>
          </tr>
        </thead>
        <tbody class="bg-light">
          <% @giver_orders.each do |order|%>
          <tr class="text-center">
            <td data-th="訂單編號"><%= order.friendly_id.upcase%></td>
            <td data-th="買家名稱"><%= order.recipient %></td>
            <td data-th="訂單建立"><%= I18n.l(order.created_at, formats: :default) %></td>
            <td data-th="付款狀態"><%= order.aasm.human_state%></td>
            <td data-th="詳細"><%= link_to "詳細內容", giver_order_order_path(order), class:'btn btn-success btn-sm' %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
