<% flash.each do |key, value| %>
    <div class="alert alert-warning <%= key %>">
      <%= value %>
    </div>
<% end %>

<div class="section_orders_giver">
  <div class="row no-gutters row_orders_giver justify-content-center">
    <div class="col-10">
      <div class="orders_giver_header text-center pb-4">
        <%= image_tag "dim.jpg" %>
        <h1>GIVER商店</h1>
      </div>
      <table class='table table-hover table-lg'>
        <thead class="bg-dark text-light p-2">
          <tr class="text-nowrap text-center">
            <th>訂單編號</th>
            <th>買家名稱</th>
            <th>日期</th>
            <th>備註</th>
            <th>詳細</th>
          </tr>
        </thead>
        <tbody class="bg-light">
          <% @giver_orders.each do |order|%>
          <tr class="text-center">
            <td><%= order.friendly_id.upcase%></td>
            <td><%= order.recipient %></td>
            <td><%= I18n.l(order.created_at, formats: :default) %></td>
            <td><%= order.note%></td>
            <td><%= link_to "詳細內容", giver_order_order_path(order), class:'btn btn-success btn-style' %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'shared/frontend/footer' %>
