<h1>我的訂單</h1>

<table class='table'>
<thead>
  <tr>
    <th>訂單編號</th>
    <th>日期</th>
    <th>狀態</th>
    <th>詳細內容</th>
  </tr>
</thead>
  <tbody>
    <% @orders.each do |order|%>
    <tr>
      <td><%= order.friendly_id.upcase%></td>
      <td><%= order.created_at%></td>
      <td><%= order.status%></td>
      <td><%= order.note%></td>
      <td><%= link_to "詳細內容", order_path(order), class:'btn btn-success btn-sm' %><td>
       <%= link_to "付款", payment_order_path(order), class: 'btn btn-danger btn-sm' if order.may_pay? %>
        <%= link_to "取消訂單", order_path(order), method: 'delete', class: 'btn btn-info btn-sm', data:{confirm: '確定要刪除嗎？'} if order.may_cancel? %>
    </tr>
    <%end%>
  </tbody>
</table>