<% flash.each do |key, value| %>
    <div class="alert alert-warning <%= key %>">
      <%= value %>
    </div>
<% end %>

<div class="section_orders_index">
  <div class="row no-gutters row_orders_index justify-content-center">

    <div class="col-11">
      <div class="orders_index_header text-center pb-2">
        <h1>買家訂單</h1>
      </div>
      <table class='table rwd-table table-hover table-lg'>
        <thead class="bg-dark text-light p-2">
          <tr class="text-nowrap text-center">
            <th>訂單編號</th>
            <th>商店名稱</th>
            <th>訂單建立</th>
            <th>付款狀態</th>
            <th>詳細</th>
          </tr>
        </thead>
        <tbody class="bg-light">
          <% @rescuer_orders.each do |order|%>
          <tr class="text-center">
            <td data-th="訂單編號"><%= order.friendly_id.upcase%></td>
            <td data-th="商店名稱"><%= User.find(order.giver_id).name %></td>
            <td data-th="訂單建立"><%= I18n.l(order.created_at, formats: :default) %></td>
            <td data-th="付款狀態"><%= order.aasm.human_state%></td>
            <td data-th="詳細">
            <%= link_to "前往付款", payment_order_path(order), class: 'btn btn-danger btn-sm' if order.may_pay? %>
            <%= link_to "詳細內容", order_path(order), class:'btn btn-success btn-sm' %>
            <%= link_to "取消訂單", order_path(order), method: 'delete', class: 'btn btn-secondary btn-sm', data: {confirm: '確定要取消訂單嗎？'} if order.may_pay? %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
      <div class="mt-5">
        <%= paginate @rescuer_orders%>
      </div>
    </div>
  </div>
</div>
