<h1>我的訂單</h1>
<%= flash[:notice] %>

<table class='table'>
<thead>
  <tr>
    <th>訂單編號</th>
    <th>名字</th>
    <th>日期</th>
    <th>備註</th>
  </tr>
</thead>
  <tbody>
    <h1>我是買家</h1>
    <% @rescuer_orders.each do |order|%>
    <tr>
      <td><%= order.friendly_id.upcase%></td>
      <td><%= order.recipient %></td>
      <td><%= I18n.l(order.created_at, formats: :default) %></td>
      <td><%= order.note%></td>
      <td><%= link_to "詳細內容", order_path(order), class:'btn btn-success btn-sm' %><td>
    </tr>
    <%end%>
  </tbody>
</table>

