<% flash.each do |key, value| %>
  <div class="alert alert-warning <%= key %>">
    <%= value %>
  </div>
<% end %>

<div class="container-fluid container_orders_payment p-0">
  <div class="row no-gutters row_payment justify-content-center">
    <div class="col-lg-8 col-12 col_payment">
      <h1 style="font-size:40px">付款金額 <%= @order.total_price %> 元</h1>
      <p>注意！若無法完成付款流程，請至<%= link_to "買家訂單", orders_path %>頁面的訂單狀態確認是否成功訂購！</p>
      </div>
        <div class="col col-lg-8 col-12 col_payment_btn text-center">
          <div class="col col-10 m-auto">
            <%= form_with(url: transaction_order_path(@order), local: true) do |form| %>
              <div id="payment-form"></div>
              <input type="submit" value="結帳" class="btn btn-danger btn_style mt-5 payment-btn">
            <% end %>
            <script>
            var clientToken = "<%= @token %>";
            braintree.setup(clientToken, "dropin", {
            container: "payment-form"
            });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
