<%= flash[:notice] %>
<h1>我的訂單<%= @order.slug.upcase%></h1>


<% @order.order_items.each do |order_item| %>
  <ul>
    <li>
      名稱：<%= order_item.food.title%>
      數量：<%= order_item.quantity%>
      可領取時間:<%= I18n.l(order_item.food.pickup_time, formats: :default) %> ～ <%= I18n.l(order_item.food.pickup_time, formats: :default) %>
    </li>
  </ul>
<% end %>