<% flash.each do |key, value| %>
  <div class="alert alert-warning <%= key %>">
    <%= value %>
  </div>
<% end %>

<div class="section_orders_show">
  <div class="container-fluid container_orders_show justify-content-center p-0">
    <div class="row no-gutters row_orders_show justify-content-center">
 
      <div class="ccol-11 col_orders_show order_show_title text-center mb-4">
        <h1>訂單編號 <span><%= @order.slug.upcase%></span></h1>
      </div>

      <div class="col-12 col_orders_show order_show_item p-4 my-2">

        <% @order.order_items.each do |order_item| %>
          <p><span><%= order_item.food.title%></span><i class="fa fa-shopping-basket"></i> x <%= order_item.quantity%> 件</p>
          <p><i class="fa fa-home home"></i>聯絡資訊 <%= @giver.address %> <%= @giver.phone%></p>
          <p><i class="fa fa-clock-o time"></i>提取時間 <%= I18n.l(order_item.food.pickup_time, formats: :default) %> ～ <%= order_item.food.endup_time.strftime("%H:%M") %></p>
          <i class="fa fa-commenting-o msg mb-4"></i>備註 <%= @order.note%>
          <div class="subtotal">小計<span><%= order_item.total_price %></span>元</div>
        <% end %>
      </div>

      <div class="col-11 order_show_btn text-center">
        <p>總金額 <span class="show_checkout_btn"><%= @total_price %></span> 元</p>  
        <%= link_to "繼續購物", foods_path, class:'btn btn-success btn-lg mr-1' %>
        <%= link_to "全部訂單", orders_path,class:'btn btn-warning btn-lg ml-1' %>
      <% unless current_user.cart_foods.empty? %>
        <%= link_to "繼續結帳", cart_path, class:'btn btn-primary btn-lg ml-1' %>        
      <% end %>  
      </div>  
    </div>
  </div>
</div>
