<% if @order.errors.any? %>
  <ul class="error">
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %> 

<div class="section_checkout">
  <div class="container-fluid p-0">
    <div class="back">
      <div class="row no-gutters row_checkout justify-content-center">

        <div class="col-lg-8 col-12 col_checkout_title p-1">
          <h1>訂單詳情</h1>
        </div>

        <div class="col-lg-8 col-12 col_checkout_info">
          <% @cart_foods.each do |cart_food| %>
            <div class="carts_show_price">
              <p><%= link_to User.find_by(id: cart_food.food.user_id).name, store_food_path(cart_food.giver_id) %></p>
              <h5><%= cart_food.food.title%></h5>
              <p>提貨時間：<%= I18n.l(cart_food.food.pickup_time, formats: :default) %> ～ <%=cart_food.food.endup_time.strftime("%H:%M") %></p>
              <span>＄<%= cart_food.food.discount_price%></span>
              <del>原價<%= cart_food.food.origin_price%></del>
              數量：<%= cart_food.quantity%>
            </div>
          <%end%>

          <div class="checkout_total text-right">
            總價 <span>＄<%= @order_total_price%></span>
          </div>
        </div>

        <div class="col-lg-8 col-12 col_checkout_recipent px-2">
          <%= form_for(@order) do |form| %>

            <div class="form-group checkout mx-auto col-lg-6 col-12">
              <%= form.label :recipent, '領取人', class:'label_form' %>
              <%= form.text_field :recipient, value: current_user.name, class:'input_form' %>
            </div>

            <div class="form-group checkout mx-auto col-lg-6 col-12">
              <%= form.label :phone, '聯絡電話', class:'label_form' %>
              <%= form.text_field :phone, value: current_user.phone, class:'input_form' %>
            </div>

            <div class="form-group checkout mx-auto col-lg-6 col-12">
              <%= form.label :note, '備註', class:'label_form' %>
              <%= form.text_field :note, class:'input_form' %>
            </div>

          <div class="col_checkout_btn text-center">
            <%= form.hidden_field :cart_food_id, value: @cart_foods.ids %>
            <%= form.submit '建立訂單', class: 'btn btn-success btn_style' %>
          </div> 

          <% end %>
        </div>

      </div><!-- row_checkout -->
    </div><!-- back -->
  </div><!-- container -->
</div><!-- section_checkout -->
<%= render 'shared/frontend/footer' %>