<% if food.errors.any? %>
  <ul>
    <% food.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="section_form">
  <%= form_for(food) do |form| %>
    <div class="container-fluid container_form">
      <div class="row row_form">
  
      <div class="col col-lg-6 col-md-12 col-sm-12 col-12 col_form">

          <div class="form-group">
            <%= form.label :avatar, '檔案上傳' %>
            <%= form.file_field :avatar, class:'input_img' %>
          </div>

          <div class="form-group">
            <%= form.label :title, '食物名稱：' %>
            <%= form.text_field :title, class:'input_form col-12' %>
          </div>

          <div class="form-group">
            <%= form.label :address, '地址：' %>
            <%= form.text_field :address,value: current_user.address, class:'input_form' %>
          </div>

          <div class="form-group">
            <%= form.label :phone, '電話：'%>
            <%= form.text_field :phone ,value: current_user.phone, class:'input_form' %>
          </div>

          <div class="form-group">
            <%= form.label :quantity, ' 數量：' %>
            <div class="select_form">
              <%= form.select :quantity, options_for_select(["請選擇數量", [*1..30]].flatten, selected: form.object.quantity), class: 'genForm_dropBox' %>
            </div>
          </div>

            <div class="form-group">
            <%= form.label :origin_price, '原價：' %>
            <%= form.text_field :origin_price, class:'input_form' %>
          </div>

          <div class="form-group">
            <%= form.label :discount_price, '救援價：' %>
            <%= form.text_field :discount_price, class:'input_form' %>
          </div>

          <div class="form-group">
            <%= form.label :pickup_time, '領取時間：' %>
            <%= form.datetime_field :pickup_time, default: form.object.pickup_time, class:'input_form' %>
          </div>

          <div class="form-group">
            <%= form.label :endup_time, '結束時間：' %>
            <%= form.datetime_field :endup_time, default: form.object.endup_time, class:'input_form' %>
          </div>

            <div class="form-group">
            <%= form.label :description, '描述：' %>
            <%= form.text_area :description %>
          </div>

          <%= form.submit class:'btn btn-danger btn_form' %>   <!-- 再來想怎麼在不同頁面改按鈕名稱 -->
          <%= link_to "取消", foods_path, class: 'btn btn-success btn_form' %>
      </div>
    </div>
  <% end %>
</div>

