</head>
<%= flash[:notice] %>1
<h1>首頁</h1>
<% if user_signed_in? %>
  <%= link_to "會員中心", '#', class: 'navlink' %>
  <%= link_to "個人資料", user_registration_path, class: 'nav-link' %>
  <% if current_user.cart %>
    <%= link_to "我的購物車", cart_path, class: 'nav-link' %>
  <%end%>  
<%end%>

<% @foods.each do |food| %>
  <div>
    <img src="<%=food.picture%>" alt="">
    名稱:<%= food.title %>
    地區:<%= food.address %>   <!-- #到時候在修正成只顯示區域 -->
    數量:<%= food.quantity %>
    可領取時間：<%= food.pickup_time %> ～ <%= food.endup_time %>
    原始價:<%= food.origin_price %>
    救援價:<%= food.discount_price %>
    <%= link_to "MORE+", food_path(food.id), class:'btn btn-lg btn-info' %>
    <%= link_to "加入購物車", add_to_cart_food_path(food.id), method: 'put',class:'btn btn-success' %>

    <% if food.user == current_user %>
    <%= link_to "編輯", edit_food_path(food.id),class:'btn btn-warning' %>
    <%= link_to "刪除", food_path(food.id), method:'delete', class:'btn btn-danger', data: {confirm: '確定要刪除嗎？'} %>   
    <% end %>
  </div>
<% end %>
  <%= link_to "新增po文", new_food_path, class:'btn btn-primary' %> <!-- #到時後會放在navbar -->







