  <div>
    <%= image_tag @food.avatar.variant(resize: '400x400') if @food.avatar.attached? %> <!-- 圖片大小從這改 -->
    名稱:<%= @food.title %>
    地區:<%= @food.address %>   <!-- #到時候在修正成只顯示區域 -->
    數量:<%= @food.quantity %>
    可領取時間:<%= I18n.l(@food.pickup_time, formats: :default) %> ～ <%= I18n.l(@food.pickup_time, formats: :default) %>
    原始價:<%= @food.origin_price %>
    救援價:<%= @food.discount_price %>
    描述:<%= @food.description %>
  </div>
    
    <%= form_for @current_cart_food, url: cart_foods_path(@food.id), :method => :post do |form| %>
      <%= form.label :quantity, ' 數量:' %>
      <%= form.select :quantity, options_for_select(["請選擇數量", [*1..(@food.quantity)]].flatten, selected: 1), class: 'genForm_dropBox' %>
      <%= form.submit '加入購物車'%>
    <% end %>

   <style>
      #map {
        height: 60%;
        width: 40%;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  </style>

      <div id="map"></div>

  
  <script>
    var map, geocoder;

    function initMap() {
      geocoder = new google.maps.Geocoder();
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16
      });

      var address = "<%= @food.address %>";

      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          console.log(status);
        }
      });
    }
    
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=Figaro.env.GOOGLE_KEY%>&callback=initMap">
  </script>




