<div class="section_foods_store">
  <div class="container-fluid container_list p-0">

    <% flash.each do |key, value| %>
        <div class="alert alert-warning <%= key %>">
          <%= value %>
        </div>
    <% end %>
  
    <div class="col-12 store_title text-center m-auto">
      <div class="foods_store_logo text-center m-auto">
        <%= image_tag "icons/store.svg" %> 
        <h1>我的商店</h1>
      </div>   
    </div>
  </div>

  <div class="container-fluid container_list p-0">
    <div class="row no-gutters justify-content-center row_stor_list">
  
      <% @giver_store.each do |food| %>
        <a href="/foods/<%=food.id %>" class="text-decoration-none">
          <div class="col col-lg-3 col-md-8 col-sm-10 col-10 col_list col_img p-4 m-2">
            <div>
              <%= image_tag food.avatar.variant(resize: '300x300'), :class => "img_list" if food.avatar.attached?%>
            </div>
            <div>
              <img src="<%=food.picture%>" alt="" class="img_list" style="margin-bottom:30px">
            </div>          
            <div class="col col-lg-12 col-md-12 col-sm-12 col-12 col_info p-2">
              <h3><%= food.title %></h3>
              <div class="list_price">
                <strong>$<%= food.discount_price %></strong>
                <del>原價<%= food.origin_price %></del>
              </div>
              <p>數量：<%= food.quantity %></p>
              <p>地點：<%= food.address %></p>  <!-- #到時候在修正成只顯示區域 -->
              <p>領取時間：<%= I18n.l(food.pickup_time, formats: :default) %> ～ <%= food.endup_time.strftime("%H:%M") %></p>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-12 col_btn p-2 text-right">
              <% if food.user == current_user %>
                <%= link_to "編輯", edit_food_path(food.id),class:'btn btn-warning btn_foods_list' %>
                <%= link_to "刪除", food_path(food.id), method:'delete', class:'btn btn-danger btn_foods_list', data: {confirm: '確定要刪除嗎？'} %> 
              <% end %>
              <%= link_to "MORE", food_path(food.id), class:'btn btn-dark' %>
            </div>
          </div>   
        </a>
      <% end %>
    
    </div><!--- row_stor_list --->
  </div><!--- container_list --->
</div><!--- section_foods_store --->
<%= render 'shared/frontend/footer' %>