<div class="container-fluid container_my_cart p-0">
  <% flash.each do |key, value| %>
    <div class="alert alert-warning <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <div class="row no-gutters justify-content-center row_cart_show">
    <div class="col col-lg-12 col-md-12 col-ms-12 col-12 col_cart_show">
      <div class="cart_item m-5">
        <% @givers.each do |giver_info| %>

          <div class="store p-2">
            <%= link_to giver_info.name, "#", class: "text-decoration-none" %>
            <% CartFood.where(giver_id: giver_info.id).each do |giver| %>
          </div>
          
          <div class="carts_info">
            <div class="items p-3 my-2">                                     
            <p><%= link_to "刪除", cart_path(giver.id), method: 'delete', class: 'btn-sm btn-danger btn_del', data:{confirm: '確定要刪除嗎？'} %>
              <%= giver.food.title%><p>
              <p>提貨時間 <%= I18n.l(giver.food.pickup_time, formats: :default) %> ～ <%= I18n.l(giver.food.pickup_time, formats: :default) %></p>
              <div class="carts_show_price">
                <span>＄<%= giver.food.discount_price%></span>
                <del>原價<%= giver.food.origin_price%></del>
                數量：<%= giver.quantity%>
              </div>
            </div>
          <%end%> 
          <div class="carts_info text-right m-3">
            <%= link_to "結帳", checkout_cart_path("giver_id" => giver_info.id), class:'btn btn-success btn_style' %>
          </div>
        <% end %> 
                 
      </div>
    </div>
  </div>

      </div>
          <div class="col col-lg-12 col-md-12 col-sm-12 col-12 col_cart_show">
      <div class="text-right">
        <%if @current_cart%>
          <%= link_to "清空購物車", destroy_cart_cart_path, method: 'delete', class: 'btn btn-danger btn_style my-3', data:{confirm: '確定要清空嗎？'} %>
        <%end%>
    </div> 
  </div>  
</div>
<%= render 'shared/frontend/footer' %>

