<% flash.each do |key, value| %>
    <div class="alert alert-warning <%= key %>">
      <%= value %>
    </div>
<% end %>

<div class="section_foods_index">
  <div class="container container_foods_list p-0">
    <div class="row_foods_list">

      <% @foods.each do |food| %>
          <!--- 數量為 0 蓋板 --->
          <div class=" col_list p-0 <%= 'col_list_sold_out' if food.quantity == 0 %>">

            <div><!--- 商店名稱 --->
              <p class="list_store_name <%='list_store_name_sold_out' if food.quantity == 0 %>">
              <span style="font-size: 20px; color: #000;">
              <i class="fa fa-home" aria-hidden="true"></i>
              <%= link_to User.find(food.user_id).name, store_food_path(food.user_id), class: 'store_name text-decoration-none'%></p><span>

              <div class="list_image <%='list_image_sold_out' if food.quantity == 0 %>">
                <%= image_tag url_for(food.avatar.variant(resize: '300x300!')), :class => "img_list" if food.avatar.attached? %>
                <!--- 打折數 off --->
                <span class="off <%='off_sold_out' if food.quantity == 0 %>"><p><span><%= (food.origin_price - food.discount_price)*100/(food.origin_price) %></span>%off</p></span>
              </div>
            </div>   

            <div class="col-12 col_foods_info">
              <h3><%= food.title %></h3>
              <div class="list_price">
                <strong>$<%= food.discount_price %></strong>
                <del>原價<%= food.origin_price %></del>
              </div>

              <p>
                <span style="font-size: 16px; margin-right:5px">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </span>尚有 <%= food.quantity %> 份
              </p>

              <p><!-- #到時候在修正成只顯示區域 -->
                <span style="font-size: 22px; margin-right:5px">
                <i class="fa fa-street-view" aria-hidden="true"></i>
                </span><%= ((food.address)[0,6]) %>
              </p>

              <p><span style="font-size: 20px; margin-right:5px">
                <i class="fa fa-clock-o" aria-hidden="true"></i></span>
                <%= I18n.l(food.pickup_time, formats: :default) %> ～ <%= food.endup_time.strftime("%H:%M") %>
              </p>
            </div>

            <div class="col_foods_btn">
              <% if food.user == current_user %>
                <%= link_to "編輯", edit_food_path(food.id),class:'btn btn-warning btn_foods_list' %>
                <%= link_to "刪除", food_path(food.id), method:'delete', class:'btn btn-danger btn_foods_list', data: {confirm: '確定要刪除嗎？'} %> 
              <% end %>
              <% if food.quantity != 0 %>
                <%= link_to "MORE", food_path(food.id), class:'btn btn-dark' %>                
              <% end %>
            </div>
          </div><!--- 數量為 0 蓋板 --->   
      <% end %>
    </div><!--- row_stor_list --->
  </div><!--- container_list --->
</div><!--- section_foods_store --->

