<!DOCTYPE html>
<html>
  <head>
    <title>FoodProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/frontend/navbar' %>
    <% if params[:controller] == 'foods' && params[:action] == 'search' %>
      <%= stylesheet_link_tag 'foods', media: 'all' %>
    <% end %>
     <% if params[:controller] == 'foods' && params[:action] == 'new' || 'edit' %>
      <%= stylesheet_link_tag 'foods', media: 'all' %>
    <% end %>
    <%= yield %>
  </body>
</html>
